name: "build"

on: [push, pull_request]

jobs:
  build:
    strategy:
      matrix:
        go-version: [1.16.x]
        os: [ubuntu-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/setup-go@v2
        with:
          go-version: ${{ matrix.go-version }}
      - uses: actions/checkout@v2
      - name: "deps"
        run: sudo apt-get install -y meson ninja-build
      - name: "meson"
        run: meson setup build
      - name: "ninja"
        working-directory: build
        run: ninja
      - name: "test"
        working-directory: build
        run: ninja test

